@model List<ZuZin.Models.Order>

<div style="padding: 40px; margin-top: 40px;">
    <h4>Thông báo : </h4>
    <div style="background-color:antiquewhite;padding:20px;">
        <p>Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn đã được xác nhận thành công</p>
        <div class="mbr-section-btn mt-3">
            <a class="btn btn-primary display-4" asp-controller="Products" asp-action="Shop">
                <span class="mobi-mbri mobi-mbri-shopping-bag mbr-iconfont mbr-iconfont-btn"></span>Mua thêm&nbsp;
            </a>
        </div>
    </div>
    
</div>

