@{
    ViewData["Title"] = "Contact Complex";
}

<div style="padding:40px;margin:40px 40px;background-color:antiquewhite">
    <h4>Liên hệ thành công</h4>
    <br/>
    <p>Cảm ơn vì sự phản hồi của bạn</p>
</div>

