@{
    ViewData["Title"] = "Home Page";
}
<div style="padding:20px;">
    <section data-bs-version="5.1" class="header18 cid-tsEQyIZRcx mbr-fullscreen mbr-parallax-background" id="header18-1">
        <div class="align-center container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1">
                    <strong>
                        Thuyên's Shop
                    </strong></h1>
                    <p class="mbr-text mbr-fonts-style mbr-white display-7">
                        Cà phê ngon cho mọi nhà
                    </p>
                    <div class="mbr-section-btn mt-3">
                        <a class="btn btn-primary display-4" asp-controller="Products" asp-action="Shop">
                        <span class="mobi-mbri mobi-mbri-shopping-bag mbr-iconfont mbr-iconfont-btn" ></span>Mua Ngay&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
 





