@model List<ZuZin.Models.OrderDetailViewModel>

<h2>Cam on ban da dat hang</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@(item.Quantity * item.Price)</td>
            </tr>
        }
    </tbody>
</table>
