@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="mobi-mbri mobi-mbri-user-2 mbr-iconfont mbr-iconfont-btn"></span>
                Hello @UserManager.GetUserName(User)!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Quản lý TK</a></li>
                <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                        <a class="dropdown-item"><button type="submit">Đăng xuất</button></a>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link link text-black dropdown-toggle show display-4"
               data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside"
               aria-expanded="false">
                <span class="mobi-mbri mobi-mbri-user-2 mbr-iconfont mbr-iconfont-btn"></span>
            </a>
            <div class="dropdown-menu show" aria-labelledby="dropdown-751" data-bs-popper="none">
                <a class="text-black show dropdown-item display-4" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
                <a class="text-black show dropdown-item display-4" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
            </div>
        </li>
    }
</ul>
