@model ZuZin.Models.Product

<div style="padding:40px;margin-top:50px;background-color:antiquewhite;">
    <h2>Thêm sản phẩm</h2>
    <form asp-action="Add" method="post">
        <div class="form-group">
            <label>Tên sản phẩm</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Giá</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Hình ảnh</label>
            <input asp-for="Image" class="form-control" />
        </div>
        <div class="form-group">
            <label>Đang hot</label>
            <input type="checkbox" asp-for="IsTrendingProduct" class="form-check-input" />
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>

